/* @font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoThin.ttf");
  font-weight: 100;
}
@font-face {
  font-family: 'Roboto';
  src: url("assets/fonts/RobotoRegular.ttf");
  font-weight: 300;
} */

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto, sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  border: 1px solid red;
}

.footer {
  border: 1px solid red;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  transition: .3s;
  text-decoration: none;
}

